# doc: https://github.com/redhat-plumbers-in-action/devel-freezer#readme
---

name: Development Freeze

on:
  workflow_run:
    workflows: [ Gather Pull Request Metadata ]
    types:
      - completed

permissions:
  contents: read

jobs:
  freezer:
    if: >
      github.event.workflow_run.event == 'pull_request' &&
      github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest

    permissions:
      # Needed for commenting on Pull Requests
      pull-requests: write

    steps:
      - id: Artifact
        name: Download Artifact
        uses: redhat-plumbers-in-action/download-artifact@v1
        with:
          name: Pull Request Metadata

      - name: Repository checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Development Freezer
        uses: jamacku/devel-freezer@main
        with:
          pr-number: ${{ fromJSON(steps.Artifact.outputs.pr-metadata-json).number }}
          delay: 20
          token: ${{ secrets.GITHUB_TOKEN }}
