# doc: https://github.com/redhat-plumbers-in-action/devel-freezer#readme

---

name: Development Freeze

on:
  workflow_run:
    workflows: [ Gather Pull Request Metadata ]
    types:
      - completed

env:
  PULL_REQUEST_METADATA_DIR: pull_request
  PULL_REQUEST_METADATA_FILE: metadata

permissions:
  contents: read

jobs:
  freezer:
    if: >
      github.event.workflow_run.event == 'pull_request' &&
      github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    
    permissions:
      issues: write

    steps:
      - name: Download Pull Request Metadata artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.PULL_REQUEST_METADATA_FILE }}
          path: ${{ env.PULL_REQUEST_METADATA_DIR }}
          
      - name: Expose Pull Request number from metadata
        working-directory: ${{ env.PULL_REQUEST_METADATA_DIR }}
        run: |
          pr_number=$(cat ${{ env.PULL_REQUEST_METADATA_FILE }} | tr -d '\n')
          echo "pr_number=pr_number" >> $GITHUB_OUTPUT

      - name: Repository checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Development Freezer
        uses: redhat-plumbers-in-action/devel-freezer@main
        with:
          pr-number: ${{ env.pr_number }}
          token: ${{ secrets.GITHUB_TOKEN }}

...
